body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

.main-container {
    width: 100%;
    min-height: 950px;
    background: #FAFAFA; 
    margin-top: 0px;
    padding: 0;
}

.containers {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    margin: 0 auto;
    justify-items: center;
    place-items: center;
    margin-top: 30px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0;
    justify-content: center;
    text-align: center;
    padding-top: 25px
}

.characteristics {
    color: #4D4F62;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.167px;
    margin: 0;  
}

.powered {
    color: #4D4F62;
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.167px;
    margin: 0
}

h2 {
    width: 311px;
    color: #4D4F62;
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    letter-spacing: 0.104px;
    margin: 0;
    margin-bottom: 10px
}

h3 {
    color: #4D4F62;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 15px;
    margin-left: 10px
}

.description {
    color: #4D4F62;
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.09px;
    opacity: 0.5;
    width: 85%;
    margin-left: 10px;
}

.tb-container, .supervisor-container, .karma-container, .calculator-container {
    width: 90%;
    height: 222px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);    
    margin: 0;
    position: relative;
    max-width: 300px;
}

.dec-line-acqua {
    padding: 0;
    width: 100%;
    height: 3.552px;
    flex-shrink: 0;
    background: #44D3D2;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    border-radius: 2px;
}

.dec-line-red {
    padding: 0;
    width: 100%;
    height: 3.552px;
    flex-shrink: 0;
    background: #EA5454;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    border-radius: 5px;
}

.dec-line-yellow {
    padding: 0;
    width: 100%;
    height: 3.552px;
    flex-shrink: 0;
    background: #FCAE4A;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    border-radius: 5px;
}

.dec-line-blue {
    padding: 0;
    width: 100%;
    height: 3.552px;
    flex-shrink: 0;
    background: #549ef2;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    border-radius: 5px;
}

.corner-svg img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

    @media (min-width: 768px) {
        .main-container {
            width: auto;
            height: auto;
            margin-top: 0px;
            padding: 0 40px;
        }

        header {
            padding-top: 25px;
            padding-bottom: 18px
        }

        h2 {
            width: 460px;
            text-align: center;
            margin-bottom: 25px;
        }

        h3 {
           
        }

        .containers {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "supervisor team-builder calculator"
            "supervisor karma calculator";
            justify-items: center;
            text-align: justify;
            align-items: center;
            gap: 30px;
            margin: 0 auto;
            max-width: 1000px;
        }

        .supervisor-container {
            grid-area: supervisor;
            align-self: center;
            margin: 0;
        }
        
        .tb-container {
            grid-area: team-builder;
            align-self: end;
        }

        .karma-container {
            grid-area: karma;
            align-self: start;
            margin-top: 0;
        }

        .calculator-container {
            grid-area: calculator;
            align-self: center;
            margin: 0
        }

        .corner-svg {
            position: absolute;
            top: 150px;
            right: 30px;
            width: 40px;
            height: 40px;
        }
    }


